@model StandBy.Models.Clientes
@{
    ViewBag.Title = "Novo Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@(Model.Id != 0 ? "Editar Cliente" : "Novo Cliente")</h2>

@using (Html.BeginForm("Save", "Clientes"))
{ 
    <div class="form-group">
        @Html.LabelFor(c => c.Nome)
        @Html.TextBoxFor(c => c.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Nome)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.CpfCnpj)
        @Html.TextBoxFor(c => c.CpfCnpj, new { @class = "form-control" })
    </div>
    
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.Ativo) Ativo?
        </label>
    </div>
    @Html.HiddenFor(c => c.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Salvar</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
